@page "/Dashboard"
@using OverBlaze.Services
@inject ImageStore ImageStore;
@inject ControlBus ControlBus
@inject IModalService Modal;
<h3>Dashboard</h3>

@foreach (var imageName in _imageNames)
{
  <button @onclick="_ => ImageClick(imageName)">@imageName</button>
}

@* <button @onclick="PerryClick">Perry</button> *@

<button @onclick="UploadNewImage">Upload new image...</button>

@code {

  bool _perryVisible;

  string[] _imageNames = Array.Empty<string>();

  protected override Task OnInitializedAsync()
  {
    _imageNames = ImageStore.GetImageNames().ToArray();
    return Task.CompletedTask;
  }

  async Task ImageClick(string imageName)
  {
    
  }

  async Task PerryClick()
  {
    await ControlBus.AddAsync(new ToggleImage
    {
      Path = "/Perry_the_platypus.png",
      Style = "height: 30vh; left: 40vw; top: 35vh; position: absolute;",
    });
  }

  private void UploadNewImage()
  {
    Modal.Show<ImageUpload>("Upload new image");
  }

}