@page "/Dashboard"
@using OverBlaze.Services
@inject ControlBus ControlBus
@inject IModalService Modal;
<h3>Dashboard</h3>

<button @onclick="PerryClick">Perry</button>

<button @onclick="UploadNewImage">Upload new image...</button>

@code {

  bool _perryVisible;

  async Task PerryClick()
  {
    if (!_perryVisible)
    {
      await ControlBus.AddAsync(new DisplayImage
      {
        Path = "/Perry_the_platypus.png",
        Style = "height: 30vh; left: 40vw; top: 35vh; position: absolute;",
      });
      _perryVisible = true;
    }
    else
    {
      await ControlBus.AddAsync(new HideImage
      {
        Path = "/Perry_the_platypus.png",
      });
      _perryVisible = false;
    }
  }

  private void UploadNewImage()
  {
    Modal.Show<ImageUpload>("Upload new image");
  }

}