@{
    ViewData["Title"] = "StreamBadger Login";
}

<div class="text-center">
    <h1 class="display-4">StreamBadger</h1>
    <p>You are now logged in to StreamBadger and you can close this tab.</p>
</div>
