@using StreamBadger.Services
@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <LoginInfo/>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


