@page "/AddSound"
@using StreamBadger.Models
@using StreamBadger.Services
@inject SoundStore SoundStore
@inject NavigationManager NavigationManager;
<h1>AddSound</h1>

<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <EditForm Model="@_model" OnValidSubmit="OnSubmit" class="form">
        <div class="form-group">
          <InputFile OnChange="OnInputFileChange" class="form-control-file"/>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <InputText id="name" @bind-Value="_model.Name"/>
        </div>
        <div>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </EditForm>
    </div>
  </div>
</div>

@code {
  UploadSoundModel _model = new();
  IBrowserFile _file;

  private async Task OnSubmit()
  {
    await SoundStore.AddAsync(_file.OpenReadStream(), _file.ContentType, _model);
    NavigationManager.NavigateTo("/Dashboard");
  }

  private void OnInputFileChange(InputFileChangeEventArgs args)
  {
    _file = args.File;
  }

}